
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />-->
<!--<div class="container">-->
<!--<div class="row-height">-->
<!--<div class="row">-->
<!--<div class="col-height col-middle col-xs-5 pull-left card" style="width: 18rem;">-->
<!--<div class="col-xs-12 text-center" >-->
<!--<h3 class="text-center">Shipping Address</h3>-->
<!--<h1 class="text-center">address</h1>-->

<!--</div>-->
<!--<div class="col-xs-12 text-center">-->
<!--<a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Login!</a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-height col-middle col-xs-5 pull-right card" style="width: 18rem;">-->
<!--<div class="col-xs-12 text-center">-->
<!--<h3 class="heading-s1">Sign UP</h3>-->
<!--</div>-->
<!--<div class="col-xs-12 text-center">-->
<!--<a href="javascript:void(0);" class="btn big-btn no-border red-background unstyle-anchor" style="padding: 13px 50px;">Sign Up!</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<table class="table">
  <thead>
  <tr>
    <th scope="col">Product</th>
    <th scope="col">Price</th>
    <th scope="col" id="ass">Quantity</th>
  </tr>
  </thead>

  <tr *ngFor="let item of items$ | async; trackBy:trackByFn; let i = index">
    <td>{{ (item.product | doc | async)?.title }}</td>
    <td>{{ (item.product | doc | async)?.price | currency:'EUR':'symbol' }}</td>
    <td id="ass">{{itemnumber[i]}}</td>

  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>Total: </th>
    <th>{{ cartTotal$ | async | currency:'EUR':'symbol' }}</th>
    <th></th>
  </tr>
  </tfoot>
</table>





<button class="btn btn-outline-info" type="submit" (click) = "checkout()">checkout</button>






